<html>
    <header>
        <style>
            p{
                padding:0;
                margin:0;
            }
            footer{
                background-color: rgb(117, 112, 112);
                width: 100vw;
                min-width: 1200px;
                float: left;
                padding-left: 250px; 
                height:60px;
                border: none;
                margin-top: 30px;
            }
            footer p{
                text-align: center;
                width:100%;
                color: white;
                line-height: 30px;
                height: 30px;
            }
            @media(max-width: 1000px){
                footer{
                    padding-left: 0px;
                    min-width: 700px;
                }
            }
        </style>
    </header>
    <footer>
        <p>amtel fax</p>
        <p>amtel address</p>
    </footer>
</html>